<html>
  <head>
    <title>{{somSiteParams.rootDomain}}</title>
    <meta charset='utf-8' />
  </head>
  <body>
    <h1>{{somSiteParams.rootDomain}}</h1>
    <p>Under Construction</p>
  </body>
</html>
