<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ manifest.dns.domainName }}</title>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/som-holding.css">
    <style>
    </style>
</head>
<body>
<div id="container">
    <div id="ucl">
        <img src="images/uc-strip-left.png" alt="Under Construction" title="Under Construction">
    </div>
    <header>
        <h1><a href="https://{{ manifest.dns.domainName }}/">{{ manifest.title }}</a></h1>
    </header>
    <main>
        <section id="content">
        </section>
    </main>
    <footer>
        <p>
            Design by <a href="https://milkmilklemonadearoundthecornerchocolatesmade.com/"
                         title="Milk Milk, Lemonade, Around the Corner Chocolate's Made">Milk Milk, Lemonade</a> |
            Built by <a href="https://morningwoodsoftware.com/" title="Morningwood Software">Morningwood Software</a> |
            Powered by <a href="https://site-o-matic.net/" title="Site-O-Matic">Site-O-Matic</a>
        </p>
    </footer>
</div>
</body>
</html>
