{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "prettier/prettier": [
      0,
      {
        "printWidth": 90,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always"
      }
    ]
  }
}
